{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroAddressBundle::macros.html.twig' as address %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ ui.renderProperty('orocrm.amazon.order.order_status.label'|trans, entity.orderStatus|trans) }}
            {{ ui.renderProperty('orocrm.amazon.order.order_type.label'|trans, entity.orderType|trans) }}
            {{ ui.renderProperty('orocrm.amazon.order.customer_email.label'|trans, entity.customerEmail|trans) }}
            {{ ui.renderProperty('orocrm.amazon.order.sales_channel.label'|trans, entity.salesChannel|trans) }}
            {{ ui.renderProperty('orocrm.amazon.order.ship_service_level.label'|trans, entity.shipServiceLevel|trans) }}
            {{ ui.renderProperty('orocrm.amazon.order.shipment_service_level_category.label'|trans, entity.shipmentServiceLevelCategory|trans) }}
            {{ ui.renderProperty('orocrm.amazon.order.number_of_items_shipped.label'|trans, entity.numberOfItemsShipped|trans) }}
            {{ ui.renderProperty('orocrm.amazon.order.number_of_items_unshipped.label'|trans, entity.numberOfItemsUnshipped|trans) }}
            {{ ui.renderProperty('orocrm.amazon.order.payment_method.label'|trans, entity.paymentMethod|trans) }}
            {{ ui.renderProperty('orocrm.amazon.order.currency_id.label'|trans, entity.currencyId|trans) }}
            {{ ui.renderProperty('orocrm.amazon.order.total_amount.label'|trans, entity.totalAmount|oro_format_currency({'currency': entity.currencyId})) }}
        </div>
    </div>
</div>
