{% import 'OroUIBundle::macros.html.twig' as ui %}
{% import 'OroAddressBundle::macros.html.twig' as address %}

<div class="widget-content">
    <div class="row-fluid form-horizontal">
        <div class="responsive-block">
            {{ ui.renderProperty('eltrino.orocrmamazon.order.purchase_date.label'|trans, entity.purchaseDate ? entity.purchaseDate|oro_format_datetime : 'N/A'|trans) }}
            {{ ui.renderProperty('eltrino.orocrmamazon.order.amazon_order_id.label'|trans, entity.amazonOrderId) }}
            {% if entity.sellerOrderId %}
                {{ ui.renderProperty('eltrino.orocrmamazon.order.seller_order_id.label'|trans, entity.sellerOrderId) }}
            {% endif %}
            {{ ui.renderProperty('eltrino.orocrmamazon.order.order_status.label'|trans, entity.orderStatus) }}
            {{ ui.renderProperty('eltrino.orocrmamazon.order.order_type.label'|trans, entity.orderType) }}
            {%- set paymentMethodContent -%}
                {{ entity.paymentMethod }}
                {%- if entity.paymentMethodDetail -%}
                    ({{ entity.paymentMethodDetail }})
                {%- endif -%}
            {%- endset -%}
            {{ ui.renderProperty('eltrino.orocrmamazon.order.payment_method.label'|trans, paymentMethodContent) }}
            {{ ui.renderProperty('eltrino.orocrmamazon.order.total_amount.label'|trans, entity.totalAmount|oro_format_currency({'currency': entity.currencyId})) }}
        </div>
        <div class="responsive-block">
            {{ ui.renderProperty('eltrino.orocrmamazon.order.is_business_order.label'|trans, (entity.isBusinessOrder ? 'Yes' : 'No')|trans) }}
            {{ ui.renderProperty('eltrino.orocrmamazon.order.is_premium_order.label'|trans, (entity.isPremiumOrder ? 'Yes' : 'No')|trans) }}
            {{ ui.renderProperty('eltrino.orocrmamazon.order.is_prime.label'|trans, (entity.isPrime ? 'Yes' : 'No')|trans) }}
            {{ ui.renderProperty('eltrino.orocrmamazon.order.is_replacement_order.label'|trans, (entity.isReplacementOrder ? 'Yes' : 'No')|trans) }}
        </div>
    </div>
</div>
